.BtnContainer {
   display: flex;
   align-items: center;
   justify-content: center;
   left: 50%;
   transform: translate(-50%, 0);
   position: relative;
   width: fit-content;
   height: 100px;
}
.Btn {
   display: flex;
   width: 120px;
   height: 50px;
   background-color: skyblue;
   border-radius: 10px;
   margin-right: 20px;
   margin-left: 20px;
   align-items: center;
   justify-content: center;
}
