.dropdownWrapper {
   display: block;
   width: 140px;
   height: 313px;
   transition: 0.3s ease all;
}
.InputWrapper {
   display: flex;
   align-items: center;
   width: fit-content;
   height: fit-content;
}
.Input {
   width: 126px;
   font-size: 18px;
   height: 49px;
   font-weight: 700;
   outline: none;
   border: none;
   border-radius: 10px;
   background-color: #f0f0f3;
   padding-left: 10px;
   box-shadow: 3px 3px 8px 3px rgba(16, 16, 16, 0.1);
}

.DropValueChoose {
   display: block;
   position: relative;
   width: 140px;
   height: 248px;
   transition: 0.3s ease all;
   margin-top: 10px;
   border-radius: 10px;
   background-color: #f0f0f3;
   box-shadow: 3px 3px 8px 3px rgba(16, 16, 16, 0.1);
}

.dropdownUl {
   position: relative;
   width: 140px;
   padding: 0;
   margin: 0;
   list-style: none;
}
.dropdownItem {
   margin-top: 7px;
   margin-bottom: 7px;
   font-family: NotoSansOriya;
   font-size: 17px;
   padding-top: 7px;
   padding-bottom: 7px;
   font-weight: bold;
   color: #868686;
   width: 100%;
   text-align: center;
   transition: 0.3s ease all;
   cursor: pointer;
}
.dropdownItem:hover {
   color: black;
   background-color: rgba(255, 255, 255, 0.7);
}
