.ProgressBarContainer {
   display: flex;
   position: relative;
   align-items: center;
   justify-content: center;
   left: 50%;
   transform: translate(-50%, 0);
   width: 400px;
   height: 10%;
}

.CircleWrapper {
   position: relative;

   margin-left: 120px;
   margin-right: 120px;
   transition: 0.7s ease all;
   left: 0;
   width: 50px;
   height: 50px;
   z-index: 2;
}
.ProgressLineWrapper {
   position: absolute;
   width: 600px;
   height: 7px;
   background-color: rgb(220, 220, 220);
}
.CheckWrapper {
   position: absolute;
   top: 0px;
   width: 50px;
   height: 50px;
}
