.Container {
   display: flex;
   width: 100vw;
   height: 100vh;
   justify-content: center;
   overflow: hidden;
}
.SignUpContainer {
   display: block;
   justify-content: center;
   width: 100%;
   min-width: 1150px;
   height: 100%;
}
.SignUpBodyWrapper {
   position: relative;
   display: flex;
   justify-content: center;
   width: 100%;
   height: 90%;
}