.Container {
   display: flex;
   width: 1920px;
   height: 100vh;
   justify-content: center;
}
.SignUpContainer {
   display: block;
   justify-content: center;
   width: 80%;
   min-width: 1150px;
   height: 100%;
}
