.Editor_Container {
   display: block;
   margin-top: 100px;
   width: 80%;
   height: 550px;
}
.TitleWrapper {
   width: 99%;
   height: 10%;
   margin-bottom: 5%;
}
.Title {
   width: 100%;
   height: 100%;
   font-size: 25px;
   outline: none;
   border: 1px solid #ccc;
   border-radius: 2px;
}
.EditorWrapper {
   width: 100%;
   height: 65%;
}
.TagWrapper {
   margin-top: 10px;
   width: 50%;
   height: 180px;
}
.TagInputWrapper {
   width: 50%;
   height: 40px;
   display: flex;
   align-items: center;
}
.TagInput {
   width: 100%;
   height: 100%;
   outline: none;
   border: none;
   font-size: 20px;
}
.TagButton {
   width: 70px;
   height: 30px;
   padding: 2px;
}
.TagShowWrapper {
   padding: 10px;
   margin-top: 20px;
   width: 100%;
   height: 110px;
   border: 2px solid blue;
   text-align: left;
}
.Tag {
   cursor: pointer;
   margin-right: 20px;
   border-radius: 5px;
   background: skyblue;
   padding: 4px;
}
