.Editor_Container {
   display: block;
   margin-top: 100px;
   width: 80%;
   height: 80%;
}
.TitleWrapper {
   width: 99%;
   height: 10%;
   margin-bottom: 5%;
}
.Title {
   width: 100%;
   height: 100%;
   font-size: 25px;
   outline: none;
   border: 1px solid #ccc;
   border-radius: 2px;
}
.EditorWrapper {
   width: 100%;
   height: 65%;
}
.TagWrapper {
   margin-top: 10px;
   width: 50%;
   height: 180px;
   border: 2px solid red;
}
