.Icon {
   position: absolute;
   width: 70px;
   height: 70px;
   top: 40px;
   left: 50%;
   transform: translate(-50%, 0);
   border-radius: 50px;
   box-shadow: 2px 2px 5px 2px rgba(16, 16, 16, 0.2);
}
.Login_BodyContainer {
   position: absolute;
   top: 30%;
   left: 50%;
   transform: translate(-50%, 0);
   width: 80%;
   text-align: left;
   height: 320px;
}
.Login_BodyContainer p {
   font-size: 15px;
   margin: 0px;
   margin-top: 10px;
   margin-bottom: 5px;
   font-weight: 900;
   color: rgb(151, 202, 219);
}
.Login_Input {
   font-size: 18px;
   padding-left: 10px;
   width: 350px;
   height: 55px;
   border: none;
   outline: none;
   border-radius: 10px;
   background-color: #f0f0f3;
   box-shadow: 3px 3px 8px 3px rgba(16, 16, 16, 0.1);
}
.ThinBlockWrapper {
   margin-top: 5px;
   display: flex;
   align-items: center;
}
.CloseBtn {
   position: absolute;
   left: 90%;
   top: 3%;
   border: 1px solid black;
   width: 25px;
   height: 25px;
   border-radius: 5px;
   box-shadow: -12px -12px 20px 0 #fff;
   background-color: #f0f0f3;
   cursor: pointer;
}
