.Icon {
   position: absolute;
   width: 70px;
   height: 70px;
   top: 40px;
   left: 50%;
   transform: translate(-50%, 0);
   border-radius: 50px;
   border: 2px solid blue;
}
.Login_BodyContainer {
   position: absolute;
   top: 30%;
   left: 50%;
   transform: translate(-50%, 0);
   width: 75%;
   text-align: left;
   height: 320px;
}
.Login_BodyContainer p {
   font-size: 13px;
   margin: 0px;
   margin-top: 10px;
   margin-bottom: 5px;
   font-weight: 900;
   color: rgb(151, 202, 219);
}
.Login_Input {
   font-size: 15px;
   padding-left: 10px;
   width: 290px;
   height: 40px;
   border: none;
   outline: none;
   border-radius: 10px;
   box-shadow: 3px 3px 8px 3px rgba(16, 16, 16, 0.1);
}
